<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key" value="84" />
		<add key="ctrl" value="true" />
		<add key="shift" value="false" />
		<add key="alt" value="false" />
		<add key="name" value="new" />
		<add key="ext" value="php" />
		<add key="content" value="こんにちは&#13;&#10;	今日の天気は晴れですよ！" />
	</appSettings>
</configuration>